/* Position the pagination at the top */
.custom-pagination {
    position: relative;
    margin-top: 30px;
    left: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

/* Increase bullet size and spacing */
.custom-pagination .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    margin: 0 8px;
    border: #17486c 3px solid;
    background-color: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Active bullet styling */
.custom-pagination .swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
    background-color: #17486c;
    transform: scale(1.01);
}
